{% extends 'core/base.html' %}
{% load auth_extras %}
{% block cuerpo %}

    <h1>Convocatorias</h1>
    {% if request.user.is_authenticated %}
        {% if request.user|is_admin %}
            <a class="config" title="Agregar" alt="Agregar" id="add" href="#"><i class="fas fa-plus"></i></a>
            <a class="config" title="Ver" alt="Ver" id="see" href="#"><i class="fas fa-eye"></i></a>
        {% endif %}
    {% endif %}
    <input type="text" id="textSearch" name="search" value="" placeholder="Búsqueda...">
    <hr>
    <br>
    <div class="Mostrar">
        {% if convocatorias.count != 0%}
            <table id="tableConv" style="overflow-x:auto;">
                <tr>
                    <th>Número</th>
                    <th>Título</th>
                    <th>Fecha de apertura</th>
                    <th>Fecha de cierre</th>
                    {% if request.user|is_admin %}
                        <th>Acciones</th>
                    {% endif %}
                </tr>
                {% for convocatoria in convocatorias %}
                    <tr class="info">
                        <td>{{convocatoria.id}}</td>
                        <td><a href="{% url 'details' id_item=convocatoria.id %}">{{convocatoria.name}}</a></td>
                        <td>{{convocatoria.opened}}</td>
                        <td>{{convocatoria.closed}}</td>
                        {% if request.user|is_admin %}
                            <td>
                                <a class="config2" title="Eliminar" alt="Eliminar" id="del" onclick="delete1('{{convocatoria.id}}','3')" href="#"><i class="fas fa-trash-alt"></i></a>
                                <a class="config2" title="Editar" alt="Editar" id="editar" href="{% url 'convocatoria_edit' id=convocatoria.id %}"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="message in-info">
                <p>En este momento no hay convocatorias</p>
            </div>
        {% endif %}  
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
  		{% csrf_token %}
        <input type="hidden" name="contador" id="contador" value="0">
        <input type="hidden" name="estado" id="estado" value="0">
        <div class="Crear" id="campos">
            <input type="text" name="name" id="name" placeholder="Nombre de la convocatoria" autocomplete="off" required>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripción" equired></textarea>
			<label for="closed">Fecha de apertura</label>
            <input type="date" min="{{today}}" name="opened" id="opened" required>
            <label for="closed">Fecha de cierre</label>
            <input type="date" min="{{today}}" name="closed" id="closed" required>
            <label for="add_doc">Documentos Asociados</label>
            <table id="tabla">
                <tr>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Documentos</th>
                    <th>Acciones</th>
                </tr>
            </table>
            <button type="button" name="add_doc" id="add_doc">Añadir documento</button>
            <input type="submit" value="Enviar"/>
        </div>
    </form>
    {% load static %}
    <script type="text/javascript" src="{% static 'conv/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'conv/css/participate_styles.css' %}">

{% endblock %}
