{% extends 'core/base.html' %}

{% block cuerpo %}
    <h1>Registrar semillero</h1>
    <hr>
    <br>

    <form action="" method="POST">
        {% csrf_token %}
        <div id="campos">
            <input type="hidden" name="contador" id="contador" value="0">
            <label for="id_group">Grupo de investigación:</label>
            <br>
            <select name="id_group" id="id_group">
                {% for grupo in grupos %}
                    <option value="{{grupo.id}}">{{grupo.name}}</option>
                {% endfor %}
            </select>
            <br>
            <label for="name">Nombre del semillero:</label>
            <br>
            <input type="text" name="name" id="name" required>
            <br>
            <label for="lines">Lineas de investigación:</label>
            <br>
            <input type="text" name="coordinador" id="coordinador" placeholder="Coordinador">
            <select name="lineas" id="lineas">
                {% for linea in lineas %}
                    <option value="{{linea.id}}">{{linea.name}}</option>
                {% endfor %}
            </select>
            <button type="button" name="add_line" onclick="add()">Añadir línea</button>
            <div>
                <table id="tabla">
                    <h4 id="tit_lineas">Líneas</h4>
                </table>
                <a id="eliminar" href="javascript:remove()">Eliminar último</a>
            </div>
        </div>
        <br>
        <input type="submit" value="Enviar"/>
    </form>

    {% load static %}
    <script type="text/javascript" src="{% static 'create/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'create/css/create_styles.css' %}">

{% endblock %}
