{% extends 'core/base.html' %}

{% block cuerpo %}
 
    <h1>Registrar integrante de semillero</h1>
    <a id="delete" href="">Eliminar</a>
    <a id="editar" href="">Editar</a>
    <hr>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="contador" id="contador" value="0">
        <label for="">Nombre del integrante:</label>
        <br>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="">Documento de identidad:</label>
        <br>
        <input type="text" name="document" id="document" required>
        <br>
        <label for="">Semillero:</label>
        <br>
        <select name="semillero" id="semillero" required>
            {% for semillero in semilleros %}
                <option value="{{semillero.id}}">{{semillero.name}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="">Rol:</label>
        <br>
        <select name="rol" id="rol" onchange="verificar()">
            <option value="1">Coordinador de grupo</option>
            <option value="2">Coordinador de semillero</option>
            <option value="3">Coordinador de línea</option>
            <option value="4">Estudiante lider</option>
            <option value="5">Estudiante de pregrado</option>
            <option value="5">Estudiante de posgrado</option>
        </select>
        <br>
        <label id="tline" for="lines">Lineas de investigación:</label>
        <br id="lsalto">
        <select name="lineas" id="lineas">
            {% for linea in lineas %}
                <option value="{{linea.id}}">{{linea.name}}</option>
            {% endfor %}
        </select>
        <button type="button" id="lañadir" onclick="add()">Añadir línea</button>
        <div>
            <table id="tabla">
                <h4 id="tit_lineas">Líneas</h4>
            </table>
            <a id="eliminar" href="javascript:remove()">Eliminar último</a>
        </div>
        <label for="">Fecha de ingreso:</label>
        <br>
        <input type="date" name="joined" id="joined" required>
        <br>
        <label for="">Correo electrónico:</label>
        <br>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="">Programa de pregrado:</label>
        <br>
        <select name="career" id="career">
            {% for career in careers %}
                <option value="{{career.id}}">{{career.name}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="">Nivel en el programa:</label>
        <br>
        <select name="level" id="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Enviar"/>
    </form>

    {% load static %}
    <link rel="stylesheet" href="{% static 'create/css/register_styles.css' %}">
    <script type="text/javascript" src="{% static 'create/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'conv/js/script.js' %}"></script>
{% endblock %}
