{% extends 'core/base.html' %}

{% block cuerpo %}

    <h1>Registrar integrante de semillero</h1>
    <a class="config" title="Eliminar" alt="Eliminar" id="delete" href="#"><i class="fas fa-trash-alt"></i></a>
    <a class="config" title="Editar" alt="Editar" id="editar" href="#"><i class="fas fa-pencil-alt"></i></a>
    <a class="config" title="Ver" alt="Ver" id="see" href="#"><i class="fas fa-eye"></i></a>
    <hr>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="contador" id="contador" value="0">
        <input type="text" name="name" id="name" placeholder="Nombre del integrante" autocomplete="off" required>
        <input type="text" name="document" id="document" placeholder="Documento de identidad" autocomplete="off" required>
        <select name="semillero" id="semillero" required>
			<option disabled selected>Seleccione un semillero</option>
            {% for semillero in semilleros %}
                <option value="{{semillero.id}}">{{semillero.name}}</option>
            {% endfor %}
        </select>
        <select name="rol" id="rol">
			<option disabled selected>Seleccione un rol</option>
            {% for rol in roles %}
                <option value="{{rol.id}}">{{rol.name}}</option>
            {% endfor %}
        </select>
		<div class="lineas">
			<label id="tline" for="lines">Lineas de investigación:</label>
	        <select name="lineas" id="lineas">
	            {% for linea in lineas %}
	                <option value="{{linea.id}}">{{linea.name}}</option>
	            {% endfor %}
	        </select>
	        <button type="button" id="lañadir">Añadir línea</button>
	        <div>
	            <table id="tabla">
	                <tr><th colspan="2">Líneas</th></tr>
	            </table>
	            <a id="eliminar">Eliminar último</a>
	        </div>
		</div>
        <label for="">Fecha de ingreso:</label>
        <input type="date" name="joined" id="joined" required>
        <input type="email" name="email" id="email" placeholder="Correo electrónico" required>
        <input type="text" name="phone" id="phone" placeholder="Telefono" required>
        <input type="text" name="adicional" id="adicional" placeholder="Información Adicional" required>
        <div class="estudiante">
            <select name="tipo" id="tipo">
                <option disabled selected>Tipo de estudiante</option>
                <option value="1">Pregrado</option>
                <option value="2">Postgrado</option>
            </select>
            <div class="pre">
                <select name="pregrado" id="pregrado">
                    <option disabled selected>Seleccione un programa de pregrado</option>
                    {% for pregrado in pregrados %}
                        <option value="{{pregrado.id}}">{{pregrado.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="post">
                <select name="postgrado" id="postgrado">
                    <option disabled selected>Seleccione un programa de postgrado</option>
                    {% for postgrado in postgrados %}
                        <option value="{{postgrado.id}}">{{postgrado.name}}</option>
                    {% endfor %}
                </select>
            </div>    
            <select name="level" id="level">
                <option disabled selected>Seleccione un nivel en el programa</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>    
        <input type="submit" id="enviar" value="Enviar"/>
    </form>

    {% load static %}
    <link rel="stylesheet" href="{% static 'create/css/register_styles.css' %}">
    <script type="text/javascript" src="{% static 'create/js/script.js' %}"></script>
{% endblock %}
