{% extends 'core/base.html' %}

{% block cuerpo %}
    <h1>Añadir línea de trabajo</h1>
    <a id="delete" href="">Eliminar</a>
    <a id="editar" href="">Editar</a>
    <hr>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="name" id="name" placeholder="Linea de investigación" autocomplete="off" required>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripción" required></textarea>
        <input type="submit" value="Enviar"/>
    </form>

    {% load static %}
    <link rel="stylesheet" href="{% static 'create/css/workline_styles.css' %}">
    <script type="text/javascript" src="{% static 'conv/js/script.js' %}"></script>

{% endblock %}
