<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestor de semilleros | Facultad de ingenieria</title>
</head>

{% load static %}
<body>
    
    <header>
        <img src="{% static 'core/img/logo_udea.png' %}" alt="">
        <p id="title_uno">GESTIÓN DE SEMILLEROS</p>
        <p id="title_dos">FACULTAD DE INGENIERÍA</p>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'create' %}">Registrar semillero</a></li>
            <li><a href="{% url 'register' %}">Registrar integrante</a></li>
            <li><a href="{% url 'workline' %}">Añadir línea</a></li>
            <li><a href="{% url 'conv_create' %}">Crear convocatoria</a></li>
            <li><a href="{% url 'participate' %}">Participar</a></li>
        </ul>
    </nav>
    <section id="formulario">
        {% block cuerpo %}{% endblock %}
    </section>
    <div id="side_bar">
        {% if request.user.is_authenticated %}
            <div>
                <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
            </div>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        {% else %}
            <div>
                <p>No ha iniciado sesión actualmente.</p>
            </div>
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}
    </div>

    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    
</body>
</html>
