{% extends 'core/base.html' %}

{% block cuerpo %}

    <form action="post">
        <label for="estudiante_name">Nombre completo:</label>
        <br>
        <input type="text" name="estudianteName" id="estudiante_name">
        <br>
        <label for="documento">Documento de identidad:</label>
        <br>
        <input type="text" name="documento" id="documento">
        <br>
        <label for="select_rol">Rol en el semillero:</label>
        <br>
        <select name="selectRol" id="select_rol">

        </select>
        <br>
        <label for="ingreso_date">Fecha de ingreso:</label>
        <br>
        <input type="date" name="ingresoDate" id="ingreso_date">
        <br>
        <label for="correo">Correo electrónico:</label>
        <br>
        <input type="email" name="Correo" id="correo">
        <br>
        <label for="select_programa">Programa de pregrado:</label>
        <br>
        <select name="selectPrograma" id="select_programa">

        </select>
        <br>
        <label for="select_nivel">Nivel en el programa:</label>
        <br>
        <select name="selectNivel" id="select_nivel">

        </select>
        <br>
        <button type="submit">Registrar</button>
    </form>

{% endblock %}