#participar {
    color: #000;
    background: #fff;
}

#bparticipar {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    display: inline-flex;
    text-align: center;
    font-size: 10pt;
    padding: 4px 15px;
    background: #396534;
}

#bparticipar:hover {
    background: #274712;
}

#dparticipar {
    display: none;
}

.row{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-align: justify;
}

.container .document p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #274712;
    font-weight: 700;
    font-size: 15px;
    font-style: oblique;
}

.container p, .row p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #274712;
    font-weight: 700;
    font-size: 20px;
    font-style: oblique
}

h1 {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table, tr, th, td {
    text-align: center;
    border: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    padding: 10px;
}

div a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

#a1{
    text-decoration: none;
    font-weight: bold;
    color: #274712;
}

input[type=button] {
    background-color: #396534; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=button]:hover {
    background-color: #274712;
    cursor: pointer;
}

input[type=submit] {
    background-color: #396534; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #274712;
    cursor: pointer;
}

input[type=file] {
    text-transform: uppercase;
}
div #see1, div #see4 {
    padding: 4px 10px;
    background: #2b49c0;
}

div #see1,div #see4:hover {
    background: #183194;
}
div #send {
    padding: 4px 10px;
    background: #396534;
}

div #send:hover {
    background: #274712;
}
div #edit,div #edit1 {
    padding: 4px 10px;
    background: #396534;
}

div #edit:hover {
    background: #274712;
}

div #edit1:hover {
    background: #274712;
}

#tabla button{
    background-color: #396534;
    padding: 8px;
    color: #fff;
    border: none;
}

#tabla{
    border-collapse: collapse;
    text-align: center;
    width: 40%;
    margin: auto;
}

#tabla_status{
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    margin: auto;
}

#new{
    color:red;
}

#new svg,#pen_r svg,#pen_c svg,#ready svg{
    height: 20px;
    width: 20px;
}

#pen_r{
    color:#ff8000;
}

#pen_c{
    color:blue;
}

#ready{
    color:green;
}