* {
    margin: 0;
}

header {
    background: #3b6333;
    width: 1050px;
    height: 194px;
    margin: 0 auto;
}

header img {
	width: 632px;
	display: block;
	margin: 0 auto;
}

#title_uno {
    padding-top: 53px;
}

nav {
    background: #274712;
    width: 1050px;
    height: 37px;
    margin: 0 auto;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-top: 9.5px;
}

nav ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 9.5px;
    color: #fff;
    background: #274712;
}

/* nav ul li a {
    color: #000;
    background: #fff;
} */

nav ul li a:hover {
    color: #000;
    background: #fff;
}

#login {
    display: none;
}

#content {
    width: 1050px;
    margin: 0 auto;
    margin-top: 15px;
}

#formulario {
    float: left;
    width: 840px;
}

aside {
    float: left;
    background-color: #274712;
    margin: 30px 0 0 30px;
    width: 180px;
    height: 200px;
}

aside div {
    height: 200px;
    background: #274712;
    float: left;
}

aside p {
    display: inline-block;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding:10px;
    text-align: center;
    color: #ffffff;
}

aside a {
    display: inline-block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #4a6439;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 40px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

input[type=submit] {
    background-color: #396534; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 30%;
    align-content: center;
}

input[type=submit]:hover {
    background-color: #274712;
    cursor: pointer;
}

input, form select, form textarea, form button, form a, form h4, form label {
	display: block;
	margin-bottom: 15px;
}

form {
    width: 70%;
    margin: 0 auto;
    font-size: 13pt;
}

table td input {
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	appearance: none;
	outline: none;
	border: none;
}

#eliminar {
	text-align: center;
	color: #ffffff;
	background: #396534;
}

#eliminar:hover {
	color: #ffffff;
	background: #274712;
	cursor: pointer;
}

div .config {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    display: inline-flex;
    text-align: center;
    font-size: 12pt;
    margin-top: 2px;
}

div .config2 {
    float: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    display: inline-flex;
    text-align: center;
    font-size: 12pt;
    margin-top: 2px;
}

div #see {
    padding: 4px 10px;
    background: #2b49c0;
}

div #see:hover {
    background: #183194;
}

div #editar, div #add {
    padding: 4px 10px;
    background: #396534;
}

div #editar:hover, div #add:hover {
    background: #274712;
}

div #delete {
    padding: 4px 12px;
    background: #b41818;
}

div #del {
    padding: 4px 12px;
    background: #b41818;
}

div #del:hover {
    background: #8f1010;
}

div #delete:hover {
    background: #8f1010;
}

div #back {
    font-size: 11pt;
    padding: 4px 12px;
    background: #b41818;
}

div #back:hover {
    background: #8f1010;
}

/* table * {
	display: inline;
} */

input[type=text],input[type=password],input[type=email] {
	width: 100%;
	font-size: 13pt;
}

form select {
	width: 100%;
	font-size: 13pt;
}

form textarea {
	font-size: 13pt;
	width: 100%;
	resize: vertical;
	height: 150px;
	min-height: 150px;
	max-height: 200px;
}

#textEditor {
	width: 300px;
}

.message {
    position: relative;
    top: 0px;
    width: 600px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.2rem;
    background-color: #d82a2a;
}

.message p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 1050px){
    header {
        width: 100%;
    }
    nav {
        width: 100%;
    }
	#content {
		width: 100%;
		min-width: 780px;
	}
    #formulario {
		float: inherit;
        margin: 0 auto;
    }
    aside {
        display: none;
        margin: 0;
    }
    #login {
        clear: both;
        display: inherit;
    }
}

@media screen and (max-width: 840px){
	body {
		min-width: 780px;
	}
    header {
        min-width: 780px;
    }
    nav {
        display: none;
    }
	#content {
		width: 100%
	}
    #formulario {
        width: 100%;
    }
    aside {
        display: none;
    }
}
