* {
    margin: 0;
}

header {
    background: #396534;
    width: 1050px;
    height: 140px;
    margin: 0 auto;
}

header img {
    float: left;
    padding-left: 18%;
}

header p {  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 43%;
    letter-spacing: 5pt;
    color: #fff;
}

#title_uno {
    padding-top: 53px;
}

nav {
    background: #274712;
    width: 1050px;
    height: 37px;
    margin: 0 auto;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-top: 9px;
}

nav ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 9px;
    color: #fff;
    background: #274712;
}

/* nav ul li a {
    color: #000;
    background: #fff;
} */

nav ul li a:hover {
    color: #000;
    background: #fff;
}

#content {
    width: 1050px;
    margin: 0 auto;
    margin-top: 10px;
}

#formulario {
    float: left;
    width: 820px;
}

aside {
    float: left;
    background-color: #274712;
    margin: 35px 0 0 30px;
    width: 200px;
    height: 200px;
}

aside div {
    height: 200px;
    background: #274712;
    float: left;
}

aside p {
    display: inline-block;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding:10px;
    text-align: center;
    color: #ffffff;
}

aside a {
    display: inline-block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #4a6439;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 40px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

input[type=submit] {
    background-color: #396534; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #274712;
    cursor: pointer;
}